{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if has_add_permission %}
    <li>
        <a href="{{ cl.opts.get_add_url }}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            <i class="icon-plus"></i> 
            {% if cl.opts.verbose_name %}
                {{ cl.opts.verbose_name }}
            {% else %}
                {{ cl.opts.verbose_name_plural|capfirst }}
            {% endif %}
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block search %}
    {% if cl.search_fields %}
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div>
                <input type="text" size="40" name="{{ cl.search_var }}" value="{{ cl.query }}" id="searchbar" />
                <input type="submit" value="{% trans 'Search' %}" />
                {% if show_result_count %}
                    <span class="small quiet">{{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</span>
                {% endif %}
                {% for pair in cl.params.items %}
                    {% if pair.0 != cl.search_var %}
                    <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <script type="text/javascript">document.getElementById("searchbar").focus();</script>
    {% endif %}
{% endblock %}

{% block date_hierarchy %}
    {% if cl.date_hierarchy %}
    <div id="toolbar">
        {% if cl.date_hierarchy %}
            {% for unit in cl.date_hierarchy %}
                {% if unit.url %}
                    <a href="{{ unit.url }}">{{ unit.title }}</a>
                {% else %}
                    <span>{{ unit.title }}</span>
                {% endif %}
                {% if not forloop.last %} › {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}
    <div class="actions">
        <input type="hidden" name="action" value="0" />
        <select name="action">
            <option value="">---------</option>
            {% for choice in action_form.field.choices %}
                {% if choice.0 %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" name="index" value="{% trans 'Go' %}" />
        {% if actions_selection_counter %}
            <span class="action-counter">{{ selection_note }}</span>
        {% endif %}
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
