{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {% if has_add_permission %}
    <li>
        <a href="{{ cl.opts.get_add_url }}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
            <i class="icon-plus"></i> 
            {% if cl.opts.verbose_name %}
                {{ cl.opts.verbose_name }}
            {% else %}
                {{ cl.opts.verbose_name_plural|capfirst }}
            {% endif %}
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block search %}
    {% if cl.search_fields %}
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div>
                <input type="text" size="40" name="{{ cl.search_var }}" value="{{ cl.query }}" id="searchbar" />
                <input type="submit" value="{% trans 'Search' %}" />
                {% if show_result_count %}
                    <span class="small quiet">{{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</span>
                {% endif %}
                {% for pair in cl.params.items %}
                    {% if pair.0 != cl.search_var %}
                    <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <script type="text/javascript">document.getElementById("searchbar").focus();</script>
    {% endif %}
{% endblock %}
